<div class="bg-dark pt-5 pb-4 px-3">
  <div class="card-group">
    {% for item in site.data.photos.docs %}
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 d-flex align-items-stretch">
        <div class="card bg-dark mx-1">
          <a href="{{ site.baseurl }}/photos-category" class="stretched-link"><img
              src="{{ site.baseurl }}/assets/img/pages{{ item.img }}"
              alt="{{ item.img-alt }}"
              class="
        mb-2
        border-dark
        ">
          </a>
          <h2 class="bg-dark h5 mt-2">{{ item.title }}</h2>
        </div>
      </div>
    {% endfor %}
  </div>
</div>